[data-container-configure] {
    >main {
        display: grid;
        grid-template-columns: min-content auto;
        gap: 1rem;
    }

    >footer {
        display: flex;
        flex-direction: row-reverse;
        margin: 1rem 0;
    }
}